[submodule "git-tools/opt/gitsigns"]
	path = git-tools/opt/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "git-tools/opt/diffview"]
	path = git-tools/opt/diffview
	url = https://github.com/sindrets/diffview.nvim
[submodule "plugins/vim-dispatch"]
	path = plugins/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "plugins/opt/vim-dispatch"]
	path = plugins/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "plugins/opt/vinegar.vim"]
	path = plugins/opt/vinegar.vim
	url = https://github.com/tpope/vim-vinegar.git
[submodule "plugins/opt/vim-vinegar"]
	path = plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "colorschemes/start/vividchalk"]
	path = colorschemes/start/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
